<div class="container">
<div class="row m-2" >
<div class="order-lg-1 order-md-1 order-sm-2 mb-2 col-lg-2  col-md-3 col-sm-12 justify-content-between d-flex flex-md-column flex-sm-row flex-row justify-content-between">
<div class="col-lg-12  col-md-12 col-sm-2 col-2 " >
    <img src="https://media.istockphoto.com/id/157482029/photo/stack-of-books.jpg?s=1024x1024&w=is&k=20&c=iQdICOnz_UmfAiFuY3d3LQe1B9cYHI3UwjTPNKBOlow=" class="sideimage" alt="...">
</div>
<div class="col-lg-12  col-md-12 col-sm-2 col-2 ">
    <img src="https://media.istockphoto.com/id/157482029/photo/stack-of-books.jpg?s=1024x1024&w=is&k=20&c=iQdICOnz_UmfAiFuY3d3LQe1B9cYHI3UwjTPNKBOlow=" class="sideimage " alt="...">
</div>
<div class="col-lg-12  col-md-12 col-sm-2 col-2 ">
    <img src="https://media.istockphoto.com/id/157482029/photo/stack-of-books.jpg?s=1024x1024&w=is&k=20&c=iQdICOnz_UmfAiFuY3d3LQe1B9cYHI3UwjTPNKBOlow=" class="sideimage" alt="...">
</div>
<div class="col-lg-12  col-md-12 col-sm-2 col-2 ">
    <img src="https://media.istockphoto.com/id/157482029/photo/stack-of-books.jpg?s=1024x1024&w=is&k=20&c=iQdICOnz_UmfAiFuY3d3LQe1B9cYHI3UwjTPNKBOlow=" class="sideimage " alt="...">
</div>
    </div>
<div class="order-lg-2 order-md-2 order-sm-1 mb-2 col-lg-4 col-md-9 col-sm-12  ">
        <div>
            <img src="https://img.freepik.com/free-photo/front-view-stacked-books-ladders-with-copy-space-education-day_23-2149241015.jpg?w=360&t=st=1703927523~exp=1703928123~hmac=33e07e8c8655c63780fc78e24a5186cac01ac473ec6910e8df16db5db24aa617" class="m-auto" id="mainimage" alt="..." >

        </div>
    </div>
<div class="order-3 mb-2 col-lg-6  col-md-12 col-sm-12 ">
<h1>BOOK NAME</h1>
<h4 >Auth Name </h4>
<div class=" d-flex d-flex-row m-2">
    <img class="m-1" src="../../../assets/Images/star-fill.svg"  alt="...">
    <img class="m-1" src="../../../assets/Images/star-fill.svg">
    <img class="m-1" src="../../../assets/Images/star-fill.svg">
    <img class="m-1" src="../../../assets/Images/star-fill.svg">
    <img class="m-1" src="../../../assets/Images/star-half.svg">
    <span class="m-2">4.5</span>
</div>
<h2 class="mt-3 mb-3">&#x24; 12 </h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
     Enim iste architecto nulla, neque vel accusamus? Beatae quod temporibus 
     impedit tenetur corrupti autem non, accusantium nesciunt, nemo a assumenda 
     fugit id.</p>
 <div class=" d-flex d-flex-row mb-3 ">
   <input class="bnt btn-outline-secondary  text-center fs-4 fw-bold" type="button" value="-" style="width:15 !important; height:10 !important; border-radius: 100% !important;">
   <span class="fs-4 ms-3 me-3"> 1 </span>
   <input class="bnt btn-outline-secondary  text-center  fw-bold" type="button" value="+" style="width:15 !important; height:10 !important; border-radius: 100% !important;">
  
</div>  
<div class="row justify-content-between d-flex d-flex-row m-2">
    <button type="button" class=" btn btn-primary col-5 text-center " style="background-color: #937DC2 !important;
    border: 1px solid #937DC2 !important; color: white !important;" >Add to cart</button>

 <button type="button" class=" btn btn-primary col-5 text-center " style="background-color: white !important;
 border: 1px solid #937DC2 !important; color: #937DC2 !important; height: 50px !important;" >favorite</button>
 </div>
<hr style="color: #937DC2;"/>
<div class="row justify-content-between d-flex d-flex-row m-2">
        <div class="col-5">
            <div class="mb-3"> <span style="color: #937DC2;"> Publisher : </span> name</div>
            <div class="mb-3"><span style="color: #937DC2;"> Language : </span> english</div>
            <div class="mb-3"><span style="color: #937DC2;">Print length : </span>635</div>
        </div>
        <div class="col-5">
            <div class="mb-3"> <span style="color: #937DC2;"> Publish Date : </span> 1/1/2345</div>
            <div class="mb-3"><span style="color: #937DC2;"> reading Age : </span> +15</div>
            <div class="mb-3"><span style="color: #937DC2;">Dimentions : </span>1 x 4 x345</div>
       
        </div>
</div>

</div>
</div>
