@if(book$ | async; as book){
<div class="container">
<div class="row m-2" >
<div class=" m-auto mb-2 col-lg-6 col-md-6 col-sm-6  ">
        <div>
            <img src="{{book.imagesmallThumbnail}}" class="m-auto" id="mainimage" alt="..." >

        </div>
    </div>
</div>    
<div class="row m-2" >   
<div class=" mb-2">
<h1>{{book.title||'UnKnown'}}</h1>
<h4 >{{book.authors||'UnKnown'}} </h4>
<div class=" d-flex d-flex-row m-2">
    <span >
      
           <ng-container *ngFor="let starIndex of getStarsArray(counter); let i = index">
            <i class="fa" [ngClass]="{'fa-sharp fa-star': i  <= counter && i + 1 !== counter, 'fa-star-half': i + 0.5 === counter, 'fa-star-o': i + 1 > counter}"></i>
          </ng-container>
          
          
          
    </span>
    <span class="m-2">{{book.averageRating||0}} </span>
</div>

<hr style="color: #937DC2;"/>
<div class="row justify-content-between d-flex d-flex-row m-2">
        <div class="col-5">
            <div class="mb-3"> <span style="color: #937DC2;"> Publisher : </span> {{book.publisher||'UnKnown'}}</div>
            <div class="mb-3"><span style="color: #937DC2;"> Language : </span> {{book.language||'UnKnown'}}</div>
        </div>
        <div class="col-5">
            <div class="mb-3"> <span style="color: #937DC2;"> Publish Date : </span> {{book.publishedDate||'UnKnown'}}</div>
            <div class="mb-3"><span style="color: #937DC2;"> category: </span> {{book.categories||'UnKnown'}}</div>
        </div>
</div>

</div>
</div>
</div>
}
<app-cards-sec></app-cards-sec>