
#mainimage{
    width: 100% !important;
    height: 350px !important;
    object-fit: fill !important;
    padding: 2px !important;
    box-sizing: border-box !important;
    border: solid 1px rgb(221, 217, 217);  
    border-radius: 10px; 
}