<div id="carouselExampleCaptions" class="carousel slide  ">
    <div class="carousel-inner ">
        <div *ngFor="let aut of all_author; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
            <div class="row">
            
                <app-one-author [dataofauthor]="aut"></app-one-author>
            </div>
        </div>
    </div>
    <button  class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span  class="carousel-control-prev-icon" aria-hidden="false"></span>
        <span  class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="false"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 d-flex justify-content-center  ">
            <button style="border: none;"  class=" rounded-circle" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span  class="carousel-control-prev-icon" aria-hidden="false"></span>
                <span  class="visually-hidden">Previous</span>
            </button>
               
            <button style="border: none;" class=" rounded-circle" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="false"></span>
                <span class="visually-hidden">Next</span>
            </button>
           

        </div>
    </div>
</div>
