<div class="container">
  <div
    *ngFor="let book of cartItems"
    class="card mb-3 mx-auto mt-3"
    style="max-width: 540px"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          [src]="book.imagesmallThumbnail"
          class="img-fluid rounded-start"
          alt="{{ book.title }}"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">Price: {{ book.price }}</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-danger"
              (click)="removeItem(book)"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-primary" (click)="buy()">Buy</button>
</div>
